$body-background-color: #F1F1F1;

// Update blue
$blue: #4FB4E8;
$blue-invert: #fff;

// Add pink and its invert
$orange: #ffb3b3;
$orange-invert: #fff;

// Add purple
$purple: #cd72f1;

// Add a serif family
$family-sans: 'Roboto', sans-serif;

// Use the new pink as the primary color
$primary: $blue;
$primary-invert: $blue-invert;

// Use the existing orange as the danger color
$danger: $orange;

// Use the new serif family
$family-primary: $family-sans;

$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);
