$body-background-color: #f7f7f7;
$body-size: 14px;

// Update blue
$blue: #4488c0;
$blue-invert: #fff;

// Add pink and its invert
$orange: #ffb3b3;
$orange-invert: #fff;

// Add purple
$purple: #cd72f1;

$grey-light: #e4e4e4;
$grey-darker: #23262d;

// Add a serif family
$family-sans: 'Roboto', sans-serif;

// Use the new pink as the primary color
$primary: $blue;
$primary-invert: $blue-invert;

// Use the existing orange as the danger color
$danger: darken($orange, 10%);

// Use the new serif family
$family-primary: $family-sans;

// Tables
$table-background-color: $body-background-color;

$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);
