/*
* Globals
*/
html, body{
    height:100%;
}

.title {
    font-weight: $weight-semibold;
}

.muted {
    color: $grey;
}

.is-padded {
    padding: $size-7;
}

.is-visible-on-hover {
    visibility: hidden;
    transition: all .125s ease;
    tr:hover & {
        visibility: visible;
    }
}

a {
    transition: all .2s ease;
}

// Buttons
.button {
    background-position: center;
    transition: background 0.8s;

    // Modifiers
    &.is-round {
        border-radius: 50%;
        overflow: hidden;
    }
    &.is-round.is-large {
        height: 60px;
        width: 60px;
    }

    // States
    &:focus:not(:active) {
        box-shadow: none !important;
        outline: none;
    }

    // Colors
    &.is-primary {
        &:hover {
            background: darken($primary, 10%) radial-gradient(circle, transparent 1%, $primary 1%) center/15000%;
        }
        &:active {
            background-color: lighten($primary, 10%);
            background-size: 100%;
            transition: background 0s;
        }
    }
    &.is-link {
        &:hover {
            background: darken($link, 10%) radial-gradient(circle, transparent 1%, $link 1%) center/15000%;
        }
        &:active {
            background-color: lighten($link, 10%);
            background-size: 100%;
            transition: background 0s;
        }
    }

    // Sizes
    &.is-large {
        font-size: 1rem;
        padding: 0.75rem 1.5rem;
        border-radius: 2px;
        height: auto;
    }
}

hr {
    background-color: $grey-light;
}

.textarea {
    resize: vertical;
}

.image {
    // Aspect
    &.is-8by5 {
        img {
            @include overlay;
            height: 100%;
            width: 100%;
        }
    }
    &.is-8by5 {
        padding-top: 62.5%;
    }

    // Sizes
    &.is-thumb {
        width: 160px;
    }
}

// Layout
.container {
    margin-left: 0px;
    margin-right: 0px;
    width: auto;
}

@media screen and (min-width: $fullhd) {
    .container.is-fluid {
        max-width: 1920px;
        margin: 0 128px;
    }
}

// Responsive helpers
.is-visible-fullhd {
    display: none !important;
}
@media screen and (min-width: $fullhd) {
    .is-visible-fullhd {
        display: inherit !important;
    }
}

// Login avatar
.avatar {
    margin-top: -70px;
    padding-bottom: 20px;

    img {
        max-width: 128px;
        padding: 15px;
        background: #fff;
        border-radius: 50%;
        box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    }
}

// Generic spacers
.mt-1 {
    margin-top: $size-1 * 2;
}
.mt-2 {
    margin-top: $size-2 * 2;
}
.mt-3 {
    margin-top: $size-3 * 2;
}
.mt-4 {
    margin-top: $size-4 * 2;
}
.mt-5 {
    margin-top: $size-5 * 2;
}
.mt-6 {
    margin-top: $size-6 * 2;
}
.mt-7 {
    margin-top: $size-7 * 2;
}

.mb-1 {
    margin-bottom: $size-1 * 2;
}
.mb-2 {
    margin-bottom: $size-2 * 2;
}
.mb-3 {
    margin-bottom: $size-3 * 2;
}
.mb-4 {
    margin-bottom: $size-4 * 2;
}
.mb-5 {
    margin-bottom: $size-5 * 2;
}
.mb-6 {
    margin-bottom: $size-6 * 2;
}
.mb-7 {
    margin-bottom: $size-7 * 2;
}

/*
* Breadcrumb design
*/
.breadcrumb {
    font-size: 12px;
    padding: 0;

    // Modifiers
    &:not(:last-child) {
        margin-bottom: $size-6;
    }
}

/*
* Navbar design
*/
.navbar {
    position: relative;
    @media screen and (min-width: $desktop) {
        padding: 0 1.25rem;
    }

    .navbar-brand {
        .navbar-item > img {
            width: 22px;
        }
    }
    .navbar-item {
        img.profile-image {
            border-radius: 50% 50%;
            box-shadow: 0 0 1px #000;
            height: 18px;
            margin-right: 0.75rem;
        }

        .icon + span {
            margin-left: 0.5rem;
        }

        // Modifiers
        &.is-active {
            box-shadow: inset 0 -2px 0 $primary;
            &:hover {
                box-shadow: inset 0 -2px 0 darken($primary, 15%);
            }
        }

        // States
        &:hover:not(.is-active),
        &:focus {
            box-shadow: inset 0 -2px 0 lighten($dark, 15%);
        }
    }

    .navbar-start,
    .navbar-end {
        > .navbar-item,
        .navbar-link {
            border-color: $primary;
        }
    }
}

.navbar-item,
.navbar-link {
    font-size: 14px;
    padding: 0.5rem 1rem;
}


/*
* Sidebar design
*/
.menu {
    .menu-label {
        font-size: 10px;
        color: #717171;
    }
    .menu-list {
        font-size: 14px;
        a {
            color: $white-ter;

            // States
            &:hover:not(.is-active) {
                background-color: $dark;
            }
        }
    }
}

/*
* Badge extension design
*/
.badge[data-badge]::after {
    .navbar & {
        left: auto;
        position: relative;
        right: 10px;
        margin: 0 -5px 0 0;
        box-shadow: none;
    }

    .is-badge-danger[data-badge]::after,
    .is-badge-danger:not([data-badge])::after {
        background: $orange;
    }
}

/*
* Checkradio extension design
*/
.is-checkradio[type="radio"] + label,
.is-checkradio[type="checkbox"] + label {
    margin: 0;
    .table & {
        padding: 0 0 0 15px;
    }
}
.is-checkradio[type="checkbox"].is-small + label {
    .table & {
        font-size: inherit;
    }
}
.is-checkradio[type="checkbox"] + label::before {
    background-color: $white;
}
.is-checkradio[type="checkbox"].is-small + label::after {
    width: 0.35rem;
    height: 0.75rem;
    top: 0.15rem;
    left: 0.40rem;
}

/*
* Box design
*/
.box {
    border-radius: $radius;
    padding: 1.25rem;
    box-shadow: none;

    // Modifiers
    &.is-primary,
    &.is-link,
    &.is-green {
        .title {
            color: inherit;
        }
    }
    &.is-primary {
        color: $primary-invert;
        background: linear-gradient(
        rgba($primary, 0.85),
        rgba($primary, 1)
        ), url('/modules/core/images/pattern-1.svg') no-repeat 0 0 scroll;
        background-size: cover;
    }

    &.is-link {
        color: $link-invert;
        background: linear-gradient(
        rgba($blue, 0.85),
        rgba($blue, 1)
        ), url('/modules/core/images/pattern-1.svg') no-repeat 0 0 scroll;
        background-size: cover;
    }

    &.is-green {
        color: $green-invert;
        background: linear-gradient(
        rgba($green, 0.85),
        rgba($green, 1)
        ), url('/modules/core/images/pattern-1.svg') no-repeat 0 0 scroll;
        background-size: cover;
    }
}

/*
* Panel design
*/
.panel {
    border-radius: 0;
    background-color: $white;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

/*
* Table design
*/
.table {
    th, td {
        border-color: $grey-light;
    }
    td {
        padding: 0.75em 0.75em;
    }
    td > form {
        display: inline-block;
    }
}

a.box:hover {
    box-shadow: none;
}

/*
* Hero design
*/
.hero {
    // Globals
    .hero-body,
    .hero-foot {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    .hero-body {
        padding: 2.5rem 1.5rem 3.5rem 1.5rem;
        .title {
            font-size: $size-2;
            font-weight: 300;
            position: relative;
        }
        .subtitle {
            font-size: $size-5;
            font-weight: 300;
        }
        .hero-logo {
            width: 54px;
            height: auto;
            position: absolute;
            left: -84px;
            top: 8px;
        }
    }
    .hero-foot {
        position: relative;
        .button {
            position: absolute;
            bottom: -30px;
            right: 1.25rem;
        }
    }

    // Tabs
    &.is-dark,
    &.is-info,
    &.is-danger,
    &.is-warning {
        .tabs.is-boxed {
            a {
                background-color: rgba($body-background-color, .05);
                padding: 0.75rem 1rem;
                &:hover {
                    background-color: rgba($body-background-color, .15);
                }
            }
            li.is-active a {
                background-color: $body-background-color;
                color: $body-color;

                //States
                &:hover {
                    background-color: $body-background-color;
                    color: $body-color;
                }
            }
        }
    }

    // Variants
    &.is-primary {
        @include linear-gradient(to right, $primary 0%, darken($primary, 10%) 100%);
    }
    &.is-dark {
        @include linear-gradient(to right, $grey-darker 0%, lighten($grey-darker, 5%) 100%);
    }

    // Modifiers
    &.has-background {
        background: linear-gradient(
        rgba($grey-darker, 0.80),
        rgba($grey-darker, 1)
        ), url('/modules/core/images/pattern-1.svg') no-repeat 0 0 scroll;
        background-size: cover;
    }

}

/*
* Form
*/

// Fields
.field:not(:last-child) {
    margin-bottom: 1rem;
}

.file {
    background-color: $white;
    border: 1px solid $input-border-color;
    border-radius: $radius;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    &.has-name .file-name {
        border: none;
    }
}

// Inputs
.input[disabled],
.textarea[disabled] {
    background-color: $grey-lighter;
    border-color: $input-border-color;
    color: $grey-dark;
    -webkit-text-fill-color: $grey-dark;
}

// Search
.is-search {
    min-width: 220px;
}
// Icons
.control.has-icons-left .icon,
.control.has-icons-right .icon {
    color: $grey;
}

// Icons
.icon {
    > i {
        font-size: 1.285rem;
    }

    &.is-small {
        > i {
            font-size: 1rem;
        }
    }

    &.is-large {
        > i {
            font-size: 1.428rem;
        }
    }

    &.is-xlarge {
        height: 7rem;
        width: 7rem;
        font-size: 3.5rem;
        > i {
            font-size: 3.5rem;
        }
    }

    &.is-circle {
        background: rgba($grey-darker, .25);
        border-radius: 50% 50%;
        .oi[data-glyph]:before {
            display: flex;
        }
    }
}

/*
* Notifications
*/
.notification {
    .is-content > & {
        border-radius: 0;
        &:not(:last-child) {
            margin-bottom: 0;
        }
    }
}

/*
* Cards
*/
.card {
    border: 1px solid $border;
    box-shadow: 0px 5px 5px -5px rgba(10, 10, 10, 0.25);
    border-radius: $radius;
}
.card-content {
    padding: $size-7;
    width: 100%;
}
.card-footer {
    background-color: $grey-lighter;
}

/*
* Tabs
*/
.b-tabs {
    .tab-content {
        background: $white;
        padding: 1rem;
        border: 1px solid $border;
        border-top: none;
    }
}

