/*
 * Globals
 */
html, body{
  height:100%;
}

.page-content {
    background: $white;
    padding: 1.25rem;
}

.title {
    font-weight: $weight-semibold;
}

.is-padded {
    padding: $size-7;
}

// Columns
.columns {
    &.is-fullheight {
        height: 100%; // Fallback
        height: 100vh;
    }
    &.is-gapless:not(:last-child) {
        margin-bottom: 0;
    }
}

.column {
    &.is-sidebar,
    &.is-content {
        min-height: 100%; // Fallback
        min-height: calc(100% - 48px);
    }
    &.is-sidebar {
        background: #343440;
        min-width: 220px;
    }
}

/*
 * Breadcrumb design
 */
.breadcrumb {
    font-size: 12px;
    padding: 0;

    // Modifiers
    &:not(:last-child) {
        margin-bottom: $size-6;
    }
}

/*
 * Navbar design
 */
.navbar {
    position: relative;
    padding: 3px 0 0 0;
    .navbar-item {
        font-size: 14px;
    }

    // Modifiers
    &:before {
        content: "";
        display: block;

        height: 3px;
        width: 100%;

        position: absolute;
        top: 0;

        @include linear-gradient(to right, $blue 0%, $purple 50%, $orange 100%);
    }
}

/*
 * Sidebar design
 */
.menu {
    .menu-label {
        font-size: 10px;
        color: $light;
    }
    .menu-list {
        font-size: 14px;
        a {
            color: $white-ter;
        }
    }
}

/*
 * Badge extension design
 */
.badge[data-badge]::after {
    .navbar & {
        box-shadow: none;
    }
}

/*
 * Checkradio extension design
 */
.is-checkradio[type="radio"] + label,
.is-checkradio[type="checkbox"] + label {
    .table & {
        padding: 0 0 0 30px;
        margin: 0;
    }
}
.is-checkradio[type="checkbox"].is-small + label {
    .table & {
        font-size: inherit;
    }
}

/*
 * Box design
 */
.box {
    border-radius: 0;
    padding: 1.25rem;
}

/*
 * Hero design
 */
.hero {
    .hero-body,
    .hero-foot {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    .hero-body {
        .title {
            font-size: $size-3;
            font-weight: 500;
        }
        .subtitle {
            font-size: $size-5;
            font-weight: 300;
        }
    }
}

